.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  gap: 2px;
  border: 2px solid #ffffff;
  background-color: #ffffff;

  @media (prefers-color-scheme: light) {
    border: 2px solid #242424;
    background-color: #242424;
  }
}

.tile {
  aspect-ratio: 1;
  width: auto;
  font-size: 0.65rem;
  cursor: pointer;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #242424;
  color: #ffffff;

  @media (prefers-color-scheme: light) {
    background-color: #ffffff;
    color: #242424;
  }
}

.tile:hover {
  background-color: lightblue;
}

.tileSelected {
  background-color: blue;
}

.tileSelected:hover {
  background-color: red;
}

.tileContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}

.star {
  display: block;
  width: 1vmin;
  height: 1vmin;
  margin: 0 0 0 auto;
}
