.tile {
  aspect-ratio: 1;
  width: auto;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #242424;
  color: #ffffff;
  transition: background-color 0.25s;

  @media (prefers-color-scheme: light) {
    background-color: #ffffff;
    color: #242424;
  }
}

.tileSelectable {
  cursor: pointer;
}

.tileSelectable:hover {
  background-color: #a6d8e9;
}

.tileSelected {
  background-color: #7878e2;

  &:hover.tileSelectable {
    background-color: #d67b7b;
  }
}

.freeTile {
  background: repeating-linear-gradient(
    -45deg,
    #7878e2,
    #7878e2 10px,
    #6f6fec 10px,
    #6f6fec 20px
  );
}

.tileContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.star {
  display: block;
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  margin: 0 0 0 auto;
  left: auto;
  right: 0;
}

.tileQuoteContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
}

.tileQuote {
  text-align: center;
  font-size: 0.65rem;
  line-height: 1rem;
}

.freeSpace {
  font-size: 1.5rem;
  line-height: 1.5rem;
  user-select: none;
}
